<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>REGISTRATION</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">
  <h2 class="vc_custom_heading"> REGISTRATION FORM </h2>
  <ion-item>
    <ion-label position="floating">Select your Sport</ion-label>
    <ion-select interface="popover" >
      <ion-select-option value=""></ion-select-option>
      <ion-select-option value="football">Football</ion-select-option>
      <ion-select-option value="cricket">Cricket</ion-select-option>
      <ion-select-option value="archery">Archery</ion-select-option>
      <ion-select-option value="horse_riding">Horse Riding</ion-select-option>
    </ion-select>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating"  style="font-size: 14px;">Do You Have an ITS Number ?</ion-label>
    <ion-select interface="popover">
      <ion-select-option value=""></ion-select-option>
      <ion-select-option value="yes">Yes</ion-select-option>
      <ion-select-option value="no">No</ion-select-option>
    </ion-select>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating">Age Group</ion-label>
    <ion-select interface="popover">
      <ion-select-option value=""></ion-select-option>
      <ion-select-option value="7-10years">7 - 10 years</ion-select-option>
      <ion-select-option value="10-15years">10 - 15 years</ion-select-option>
      <ion-select-option value="genesis">15 - 20 years</ion-select-option>
      <ion-select-option value="20above">20 above</ion-select-option>
    </ion-select>
  </ion-item>
  <br>


  <br>
  <ion-item>
    <ion-label position="floating">How did you hear about us ? </ion-label>
    <ion-select interface="popover">
      <ion-select-option value=""></ion-select-option>
      <ion-select-option value="friends">Friends or Relatives</ion-select-option>
      <ion-select-option value="social">Social Media</ion-select-option>
      <ion-select-option value="email">Email</ion-select-option>
      <ion-select-option value="others">Others</ion-select-option>
    </ion-select>
  </ion-item>
  <br>

  
  <h1 style="padding-left: 7px;">Rules & Regulation</h1>

  <br>

  <ul >
    <li class="text1">We don`t assure you that you will get your selected Time Slot, it may depend on number of registrations in that slot .</li>
    <li class="text1">All ANBSA members should pay Fees in advance by 5th of every month.</li>
    <li class="text1">Members should wear proper kit during practice and matches.</li>
    <li class="text1">Members should come on time and follow discipline in and off the field.</li>
    <li class="text1">Members are responsible for the safe custody of their equipment and belongings.</li>
    <li class="text1">ANBSA will not be responsible for any damage for theft.</li>      
    <li class="text1">ANB will not be responsible for any type of injury.</li>
  </ul>
    <br>
    <ion-button class="submit-btn"  expand="block">Send</ion-button>
  
  <br>
  <br>
</ion-content>
