.vc_custom_heading{
    font-size: 30px;
    color: #0a7392;
    text-align: center;
    font-weight: 700;
}

.vc_custom{
    font-size: 20px;
    color: #0a7392;
    font-weight: 549;
    margin-left: 7px;
}

.para{
    margin: 0 0 20px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 1.65em;
    font-style: normal;
    font-weight: 400;
    margin-left: 7px;
}

.text1{
    font-weight: 400;
    margin-left: 7px;
}

.coach{     
    vertical-align: middle;
    width: 40%;
    height: 100%;
    border-radius: 50%;
}

.coaches{
    text-align: center;
    padding-left: 10px;
}
.bg{
    --background: url("../../assets/recent-bg.jpg") no-repeat rgb(245, 245, 243) 80% 30%;
}
