<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Horse Riding</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">
  <ion-slides  [options]="slideOpts">
    <ion-slide>
      <div><img src="./assets/horse_Riding/horse_riding_slider1.jpg" /></div>  
    </ion-slide>
    <ion-slide >
      <div><img src="./assets/horse_Riding/horse_riding_slider2.jpg" /></div>  
    </ion-slide>
    <ion-slide>
      <div><img src="./assets/horse_Riding/horse_riding_slider.jpg" /></div>  
    </ion-slide>
  </ion-slides>

  <ion-row class="register">
    <ion-col>
      <h2 class="text">Horse Ridding Registeration</h2>
    </ion-col>
    <ion-col>
      <ion-button  (click)="goToRegisterPage()">Register Now</ion-button>
    </ion-col>
  </ion-row>

  <h2 class="vc_custom_heading"> HORSE RIDING</h2>

  <h3 class="vc_custom"> Benefits of Horse Riding </h3>

  <p class="para"> Body Awareness: Horseback riding really works the core muscles that stabilize the trunk: the abdominal, back, and pelvic muscles. However, it’s not just about the strength of the core, but the coordination and stability of it as well. The more you ride, the more the body learns to move with the horse. <p>
  
  <p class="para">Quick Thinking: riding a large, powerful animal with a mind and agenda of its own is a full-body workout that will force you to engage muscles you didn’t know existed and be constantly adjusting to the form of the animal.coordination: There are many movements that need to happen simultaneously while riding for the horse to be properly guided- this is what coordination consists of. Therapeutic riding programs for the sight-impaired have had a lot of success developing better coordination.</p>

  <div><img src="./assets/horse_Riding/horse_riding.jpg" /></div>

  <h2 class="vc_custom_heading"> COACHING PROGRAM </h2>

  <p class="text1"> Some tips to avoid injuries when playing any Sports : </p>

  <ul>
    <li class="text1"> Drink water before, during and after play.</li>
    <li class="text1"> Wear broad-spectrum sunscreen, sunglasses and a hat, even in cloudy conditions.</li>
    <li class="texxt1"> Always warm up, stretch and cool down.</li>
    <li class="text1"> Good technique and practice will help prevent injury.</li>
    <li class="text1"> Seek professional advice on footwear.</li>
  </ul>

  <h2 class="archery-green"> Coaches </h2>

  <ion-card >
    <br>
    <div class="coaches" > <img src="./assets/horse_Riding/coach-1.jpg" class="coach" alt="Avatar"/></div>  
    <ion-card-title class="coaches" > <h2> Abdul Haseeb Mehta </h2> </ion-card-title>
</ion-card>

<ion-card >
  <br>
  <div class="coaches" > <img src="./assets/horse_Riding/coach-2.jpg" class="coach" alt="Avatar"/></div>  
  <ion-card-title class="coaches" > <h2> Abbas Mohammed Ali </h2> </ion-card-title>
</ion-card>

  <br>
  <br>
  <br>

</ion-content>
