.close-fake{
    --background: transparent;
    ion-icon{
        font-size: 2rem;
    }
}

ion-content{
    background: black;
    // background-color: black;
}

ion-slides {
    height: 50%;
    width: 100%;

}
.screen{
    background-color: black;
    height: 100%;
}

ion-toolbar{
    background-color: black;
}

ion-header{
    background-color: black;
}