.size{
    width: 135% !important;
    height: 135% !important;
    max-width: 100px !important;
    max-height: 100px !important;
    border: 2px ;
    border-radius: 50%;
}

.text{
    text-align: center;
    color: white;
}

.bgcol{
    --background: url("../../assets/recent-bg.jpg") no-repeat rgb(245, 245, 243) 100% 100%;
}

.bg{
    background-image: url("../../assets/home-bg.jpg");
    height: 50%;
}

.att{
    width: 48px;
    margin-top: 5px;
}

.row{
    margin-top: -12;
}
.box_dashboard{
    padding: 25px 7px;
    width: 42%;
    float: left;
}
.card_title{
    font-size: 15px;
    margin-top: 12px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: cadetblue;
}

.box_img{
    width: 54px;  
    margin-top: 4px
}

.box_img1{
    width: 50px;  
    margin-top: 4px;
}