<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg">
    <br>
    <div style="text-align: center;">
        <img src="./assets/images/download.jpg"  class="size"/>
    </div>

    <h2 class="text">Ali Asghar</h2>
    <br>


    <ion-row style="margin-top: -15px;">
      <ion-card class="box_dashboard">
        <a (click)="goToAttendencePage()">
          <ion-card-subtitle style="text-align: center;"><img src="./assets/images/attendence.png" class="att" />
          </ion-card-subtitle>
          <ion-card-title class="card_title" >Attendence</ion-card-title>
        </a>
      </ion-card>
      <ion-card class="box_dashboard">
        <a (click)="goToNewsPage()">
          <ion-card-subtitle style="text-align: center;"><img src="./assets/images/news1.png"
              class="box_img1" /></ion-card-subtitle>
          <ion-card-title class="card_title" >News</ion-card-title>
        </a>
      </ion-card>

    </ion-row>

    <ion-row style="margin-top: -15px;">

      <ion-card class="box_dashboard">
        <a (click)="goToGalleryPage()">
          <ion-card-subtitle style="text-align: center;"><img src="./assets/images/gallery1.png" class="att" />
          </ion-card-subtitle>
          <ion-card-title class="card_title" >Gallery</ion-card-title>
        </a>
      </ion-card>


      <ion-card class="box_dashboard">
        <a (click)="goToProfilePage()">

          <ion-card-subtitle style="text-align: center;"><img src="./assets/images/profile1.png"
              class="box_img" /></ion-card-subtitle>
          <ion-card-title class="card_title" >Profile</ion-card-title>
        </a>
      </ion-card>

    </ion-row>

  </div>

</ion-content>