<ion-header  >
  <ion-toolbar  class="colour">
    <ion-title >Nadil Burhani </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card>
    <ion-card-header>
      <div style="text-align: center;">
        <img src="assets/logo.png" alt="5cube-logo">
      </div>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title style="text-align: center;">Login</ion-card-title>
    </ion-card-header>
  </ion-card>

  <form [formGroup]="todo" (ngSubmit)="logForm()">
    <ion-item>
      <ion-label>Todo</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>
    <button ion-button type="submit" [disabled]="!todo.valid">Submit</button>
  </form> -->


</ion-content>
