.register{
    background-color: #4db848;
    text-align: center;
}

.text{
    font-size: 40px;
    color: #ffffff;
    // text-align: ;
    font-family: Lato;
    font-weight: 700;
    font-style: normal;
}

.buttonstyle{
    // background-color: #ffffff;
    // color: #4db848!important;
    // border-color: #ffffff;
    // padding: 10px 0;
    // font-size: 18px;
    // transition: 0.4s;
    display: block !important;
    margin-left: 0;
    margin-right: 0;
    line-height: 1.428571429;
    vertical-align: middle;
    margin: 3px 3px 3px 0;
    // text-decoration: none;
    // text-align: center;
    // cursor: pointer;
    font-weight: 700;
    // text-transform: uppercase;
    // background: 0 0;
    // border: 2px solid transparent;
    // box-sizing: border-box;
    // font-family: "Open Sans", Arial, sans-serif;
    // -webkit-tap-highlight-color: transparent;
    // box-sizing: border-box;
    // color: #fff;
    // background-color: #428bca;
}

.vc_custom_heading{
    font-size: 42px;
    color: #4db848;
    text-align: center;
    font-weight: 700;
}

.archery-green{
    color: #4db848;
    text-align: center;
    font-size: 24px;
    font-weight: 700;

}

.heading{
    font-weight: 700;
    margin-left: 7px;
}

.para{
    margin: 0 0 20px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 1.65em;
    font-style: normal;
    font-weight: 400;
    margin-left: 7px;
}

.text1{
    font-weight: 400;
    margin-left: 7px;
}

.coach{     
    width:100% !important;  
    height : 100% !important;  
    max-width: 100px !important;  //any size
    max-height: 100px !important; //any size 
    margin-left: 73px;
}

.coaches{
    text-align: center;
}


