<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Archery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">

  <ion-slides  [options]="slideOpts">
    <ion-slide>
      <div><img src="./assets/archery/archery_silde1.jpg" /></div>  
    </ion-slide>
    <ion-slide >
      <div><img src="./assets/archery/archery_silde2.jpg" /></div>  
    </ion-slide>
  </ion-slides>

  <ion-row class="register">
    <ion-col>
      <h2 class="text">Archery Registeration</h2>
    </ion-col>
    <ion-col>
      <ion-button  (click)="goToRegisterPage()">Register Now</ion-button>
    </ion-col>
  </ion-row>

  <h2 class="vc_custom_heading"> ARCHERY </h2>

  <h3 class="archery-green">Benefits of Archery</h3>

      <h4 class="heading"> Focus </h4>
      <p class="para"> Archers learn to tune out all distractions, focus on their form, and release the bowstring consistently. Concentrating during archery practice can help you focus better in other areas of life too. Competing in tournaments is also good practice for coping with high-pressure situations <p>

      <h4 class="heading"> Strength </h4>
      <p class="para"> Strengthen your arms, core, hands, chest and shoulders by practicing a proper draw. Trying to draw a bow with too much draw weight can cause injury, so begin by having a professional set your bow to the correct draw weight. As you build strength and skill, increase your draw weight. <p>

      <h4 class="heading"> Coordination </h4>
      <p class="para"> Many things must happen quickly to execute a good shot. Place your feet. Nock your arrow. Grip the bow, but not too firmly. Push the bow away while pulling the bowstring. Find your anchor point. Release. Many of these steps take just a few seconds, but each affects your shot. Don’t worry. Consistent practice builds muscle memory, and your shooting becomes more instinctive. <p>

      <h4 class="heading"> Exercise </h4>
      <p class="para"> Besides working your upper body by drawing your bow, you can expect to walk a lot while bowhunting, or when moving between targets when shooting target archery or 3-D archery. </p>

      <h4 class="heading"> Confidence </h4>
      <p class="para"> In archery, you can compete against others or against yourself. But the sport isn’t just about hitting bull’s-eyes. Shooting your bow and improving your form with practice also builds self-esteem. </p>

      
      <h2 class="archery-green"> COACHING TIPS </h2>

      <p class="text1"> Some tips to avoid injuries when playing any Sports : </p>
      
      <ul>
        <li class="text1" > Stretch well before starting, to avoid injuries. </li>
        <li class="text1"> Wear broad-spectrum sunscreen, sunglasses and a hat, even in cloudy conditions. </li>
        <li class="text1"> Seek professional advice on footwear.</li>
        <li class="text1"> Do always cool down and relax for a while after play. </li>
        <li class="text1"> Proper techniques must be applied while playing to prevent muscular and physical injury. </li>
        <li class="text1"> Drinking water keeps your body calm and focused. </li>
      </ul>

      <div><img src="./assets/archery/archery-1.jpg" /></div>

      <iframe width="100%" height="183"src="https://alnadialburhani.com/wp-content/uploads/2016/11/Archery-video.mp4?_=1">
      </iframe>

      <h2 class="archery-green"> Recent Activities </h2>

      <ion-card>
        <ion-card-header>
          <ion-card-subtitle><img src="./assets/archery/archery-2.jpg"/></ion-card-subtitle>
          <ion-card-title>Archery Crash Course Competition held on 13-01-2019 </ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          First Archery crash course session has been finished . 09 archers had joined AL NADI AL BURHANI ARCHERY ACADEMY in OCT-2018 for this course . Today they were judged and rewarded for their skills after having a competition among themselves….
        </ion-card-content>
        <ion-card-content>
          <!-- <ion-button> Read More</ion-button> -->
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-subtitle><img src="./assets/archery/archery-3.jpg" /></ion-card-subtitle>
          <ion-card-title>Sindh Archery trials held today 09-12-2018 by Sindh Archery Association at Al Nadil Al burhani Sports complex </ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Sindh Archery trails held today 09-12-2018 by Sindh Archery Association at Al Nadil Al burhani Sports complex for selection of Provincial Archery Team to …
        </ion-card-content>
        <ion-card-content>
          <!-- <ion-button> Read More</ion-button> -->
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-subtitle><img src="./assets/archery/archery-4.jpg" /></ion-card-subtitle>
          <ion-card-title>1st PEC Quaid e Azam Archery Championship 2018 </ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Al-Nadi-al-Burhani Archery Academy Participated in 1st PEC Quaid e Azam Archery Championship 2018 at Pavillion end Club.
        </ion-card-content>
        <ion-card-content>
          <!-- <ion-button> Read More</ion-button> -->
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-subtitle><img src="./assets/archery/archery-5.jpg" /></ion-card-subtitle>
          <ion-card-title>Archery Tournament held on 1st May 2017 </ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Archery Tournament held on 1st May 2017
        </ion-card-content>
        <ion-card-content>
          <!-- <ion-button> Read More</ion-button> -->
        </ion-card-content>
      </ion-card>

      <h2 class="archery-green"> Coaches </h2>

      <ion-card >
        <br>
        <div class="coaches" > <img src="./assets/archery/coach-1.jpg" class="coach" alt="Avatar"/></div>
        <ion-card-title class="coaches" > <h2> Shehzad Khan </h2> </ion-card-title>
        <ion-card-title class="coaches"> Former President Sindh Archery Association </ion-card-title>

      <ion-card-content class="coaches">Secretary Sindh Archery Association Chief Judge National Archery Championship</ion-card-content>
    </ion-card>

    <ion-card>
      <br>
      <div class="coaches" > <img src="./assets/archery/coach-2.jpg" class="coach" alt="Avatar"/></div>
      <ion-card-title class="coaches" > <h2> Zaara Mansoor Khan </h2> </ion-card-title>
      <ion-card-title class="coaches"> National Archer </ion-card-title>

    <ion-card-content class="coaches">Instructor Sindh Archery Association Archery Instructor at Karachi University</ion-card-content>
  </ion-card>

      <br>


</ion-content>
