<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-slides [options]="sliderOpts">
    <ion-slide *ngFor="let img of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 11]">
    </ion-slide>
  </ion-slides>
  <ion-row>
    <div *ngFor="let img of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">


      <div class="imglight"> <img src="./assets/gallery/{{img}}.jpg" width="116px" tappable
          (click)="openPreview(img)" />
      </div>



    </div>
  </ion-row>
</ion-content>