// ion-slides {
//     margin-top: 30%;
//     background: #e6e6e6;

//     img {
//         padding-bottom: 20px;
//     }
// }
.imglight{
    float: left;
    margin-left: 10px;
    margin-bottom: 15px;
}

