<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Payment History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg">
    <br>
    <div style="text-align: center;">
      <img src="./assets/images/download.jpg" class="size" />
    </div>

    <h2 class="text">Ali Asghar</h2>
    <br>

    <ion-row style="margin-top: -15px;">
      <ion-card class="box_dashboard">
        <a (click)="goToAttendencePage()">
          <ion-card-subtitle> </ion-card-subtitle>
          <ion-card-title ></ion-card-title>
        </a>
      </ion-card>
    </ion-row>
  </div>
</ion-content>