.bg{
    background-image: url("../../assets/home-bg.jpg");
    height: 36%;
}

.size{
    width: 135% !important;
    height: 135% !important;
    max-width: 100px !important;
    max-height: 100px !important;
    border: 2px ;
    border-radius: 50%;
}

.text{
    text-align: center;
    color: white;
}