.vc_custom_heading{
    font-size: 22px;
    color: #f15922;
    text-align: center;
    font-weight: 700;
}

.heading{
    font-weight: 700;
    margin-left: 7px;
    font-size: 17px;
}

.para{
    margin: 0 0 20px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 1.65em;
    font-style: normal;
    font-weight: 400;
    margin-left: 7px;
}

.archery-green{
    color: #f15922;
    text-align: center;
    font-size: 24px;
    font-weight: 700;

}

.text1{
    font-weight: 400;
    margin-left: 7px;
}

.coach{     
    // width:100% !important;  
    // height : 100% !important;  
    // max-width: 100px !important;  //any size
    // max-height: 100px !important; //any size 
    // // margin-left: 90px;
    vertical-align: middle;
    width: 40%;
    height: 100%;
    border-radius: 50%;
}

.coaches{
    text-align: center;
    padding-left: 10px;
}

.bg{
    --background: url("../../assets/recent-bg.jpg") no-repeat rgb(245, 245, 243) 100% 100%;
}

.register{
    background-color:  #f15922;
    text-align: center;
}

.text{
    font-size: 25px;
    color: #ffffff;
    // text-align: ;
    font-family: Lato;
    font-weight: 700;
    font-style: normal;
}
