.btn-attendance{
    margin-top: 30px;
}

.bg{
    --background: url("../../assets/recent-bg.jpg") no-repeat rgb(245, 245, 243) 100% 100%;
}

.text{
    text-align: right;
    font-size: 12px;
}

.text1{
    font-size: 13px;
    float: left;
}

.card{
    width: 100%;
    margin-left: 0%;
}