<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cricket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">
  <ion-slides  [options]="slideOpts">
    <ion-slide>
      <div><img src="./assets/cricket/cricket_slide1.jpg" /></div>  
    </ion-slide>
    <ion-slide >
      <div><img src="./assets/cricket/cricket_slide.jpg" /></div>  
    </ion-slide>
  </ion-slides>

  <h2 class="vc_custom_heading"> CRICKET ACADEMY </h2>

  <p class="para"> Cricket, the most popular and favorite game of the population. The more it is viewed but relatively played lesser. Cricket is not just a sport where two teams play against each other. But, it has many other benefits that one gets from it. Every sport has its health importance attached to it. Similarly, cricket also ensures many benefits for the players, like; <p>
  
  <p class="text1"> Health benefits include: </p>
      
  <ul>
    <li class="text1" > Endurance and stamina </li>
    <li class="text1"> Balance and coordination </li>
    <li class="text1"> Physical fitness </li>
    <li class="text1"> Improving hand-eye coordination. </li>
  </ul>

  <div><img src="./assets/cricket/cricket.jpg"  /></div>

  <p class="text1"> As well as physical health benefits, cricket can also bring other benefits and opportunities such as: </p>

  <ul>
    <li class="text1" > Team skills </li>
    <li class="text1"> Social skills such as cooperation, communication and learning how to cope with winning and losing </li>
    <li class="text1"> Social interaction – it’s a great way to meet new people and make new friends. </li>
  </ul>

  <h2 class="vc_custom_heading"> COACHING PROGRAM </h2>

  <p class="text1"> Some tips to avoid injuries when playing cricket : </p>

  <div><img src="./assets/cricket/cricket-injuries.jpg" width="100%" /></div>

  <ul>
    <li class="text1" > Drink water before, during and after play. </li>
    <li class="text1"> Wear broad-spectrum sunscreen, sunglasses and a hat, even in cloudy conditions.</li>
    <li class="text1"> Always warm up, stretch and cool down. </li>
    <li>Good technique and practice will help prevent injury. </li>
    <li> Fast bowlers should restrict the number of overs bowled during play, taking into account their physical maturity and fitness. </li>
    <li> Wear the right protective equipment. While batting, wear body padding including gloves, leg pads, a box (for males) and forearm guards. When wicket-keeping, batting or fielding in close, also wear a cricket helmet with a faceguard. </li>
    <li> Seek professional advice on footwear. </li>
  </ul>



  <h2 class="archery-green"> Coaches </h2>

  <ion-card >
    <br>
    <div class="coaches" > <img src="./assets/cricket/coach-1.jpg" class="coach" alt="Avatar"/></div>
    <ion-card-title class="coaches" > <h2> Naeem Tayyeb </h2> </ion-card-title>
    <ion-card-title class="coaches"> Former first-class player National Bank </ion-card-title>

  </ion-card>

  <ion-card >
    <br>
    <div class="coaches" > <img src="./assets/cricket/coach-2.jpg" class="coach" alt="Avatar"/></div>
    <ion-card-title class="coaches" > <h2> Saeed Khan </h2> </ion-card-title>
    <ion-card-title class="coaches"> Former first class player Quetta, Karachi zebra </ion-card-title>

    <p class="coaches">PCB level 1
      <br>
      Coach Grade 2, K-Electric</p>
  </ion-card>

  <ion-card >
    <br>
    <div class="coaches" > <img src="./assets/cricket/coach-3.jpg" class="coach" alt="Avatar"/></div>
    <ion-card-title class="coaches" > <h2> Farhan Yasin </h2> </ion-card-title>
    <ion-card-title class="coaches"> Advance certified Coach Sri Lanka </ion-card-title>

    <p class="coaches">PCB level 1
      <br>
      Former National Bank coach</p>
  </ion-card>

  <ion-card >
    <br>
    <div class="coaches" > <img src="./assets/cricket/coach-4.jpg" class="coach" alt="Avatar"/></div>
    <ion-card-title class="coaches" > <h2> Shazaib Ahmed </h2> </ion-card-title>
    <ion-card-title class="coaches"> Certified Level 1 fitness trainer </ion-card-title>

    <p class="coaches">PCB level 1
      <br>
      HBL strength & conditioning Coach</p>
  </ion-card>



  <br>
  <br>
  <br>
  <br>

</ion-content>
