.vc_custom_heading{
    font-size: 35px;
    color: #b00069;
    text-align: center;
    font-weight: 700;
}

.para{
    margin: 0 0 20px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 1.65em;
    font-style: normal;
    font-weight: 400;
    margin-left: 7px;
}

.text1{
    font-weight: 400;
    margin-left: 7px;
}

.archery-green{
    color: #b00069;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
