.vc_custom_heading{
    font-size: 25px;
    color: #b00069;
    text-align: center;
    font-weight: 700;
}

.bg{
    --background: url("../../assets/recent-bg.jpg") no-repeat rgb(245, 245, 243) 100% 100%;
}

.para{
    margin: 0 0 20px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 1.65em;
    font-style: normal;
    font-weight: 400;
    margin-left: 7px;
}

.text1{
    font-weight: 400;
    margin-left: 7px;
}

.archery-green{
    color: #b00069;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.coach{     
    vertical-align: middle;
    width: 40%;
    height: 100%;
    border-radius: 50%;
}

.coaches{
    text-align: center;
    padding-left: 10px;
}

.register{
    background-color: #b00069;
    text-align: center;
}

.text{
    font-size: 25px;
    color: #ffffff;
    // text-align: ;
    font-family: Lato;
    font-weight: 700;
    font-style: normal;
}