<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="att_form">
    <br>
    <ion-item>
      <ion-label position="floating" color="primary"> Name </ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <br>
    <ion-item>
      <ion-label position="floating" color="primary">Contact Number</ion-label>
      <ion-input type="number"  placeholder="03XX-XXXXXXXX" formControlName="number"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating" color="primary">Address </ion-label>
      <ion-input type="text" formControlName="address"></ion-input>
    </ion-item>
    <br>
  
    <ion-item>
      <ion-label position="floating" color="primary">Date of Birth </ion-label>
      <br>
      <ion-input type="date" formControlName="date"> </ion-input>
    </ion-item>
  
    <br>
    <ion-item>
      <ion-label position="floating" color="primary">CNIC </ion-label>
      <ion-input type="text" formControlName="cnic" placeholder="XXXXX-XXXXXXX-X" ></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating" color="primary"> School / Organization </ion-label>
      <ion-input type="text" formControlName="school"></ion-input>
    </ion-item>
    <br>
    <ion-button class="submit-btn" type="submit" expand="block" [disabled]="!att_form.valid">Save</ion-button>

  </form>
</ion-content>
