

<ion-content>
  
    <ion-card-header>
      <div style="text-align: center;"  >
        <img src="assets/logo.png" width= "60%" alt="5cube-logo">
      </div>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title style="text-align: center;">Register</ion-card-title>
    </ion-card-header>


  <form [formGroup]="att_form">
    <br>
    <ion-item>
      <ion-label position="floating" color="primary"> Name </ion-label>
      <ion-input type="text" formControlName="name" placeholder="Mohammad"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Email</ion-label>
      <ion-input type="text" formControlName="email" placeholder="mohammad123@gmail.com"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Password</ion-label>
      <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
    </ion-item>


    <br>
    <ion-button class="submit-btn" type="submit" expand="block" [disabled]="!att_form.valid">Register</ion-button>
    <p class="go-to-login">
      No account yet? <a (click)="goToLoginPage()">Back to Login</a>
    </p>
  </form> 
</ion-content>
